MONGO_URI=mongodb+srv://I_could_have_forgot:To-ReMOvE@that.from.readme.md/?couldHaveGone=prettyBad
JWT_SECRET=make_this_long_and_random_please
PORT=5050
VITE_FRONTEND_URL=http://localhost:5173
#---------------------------------------------------
VITE_API_URL=http://localhost:5050/api/