@use "./variables/index";

:root {
  --accent-contrast: oklch(from var(--accent) calc((0.6 - l) * 1000) 0 0);
  --font-mono:    'IBM Plex Mono', monospace;
  --font-sans:    'IBM Plex Sans', sans-serif;
  --text-editor: 15px;
  --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 10px 15px rgba(0, 0, 0, 0.1);
}

:root[data-theme='light'] {
  --text-editor: 15px;
  --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 10px 15px rgba(0, 0, 0, 0.1);

  --radius-sm:    3px;
  --radius-md:    5px;
  --radius-lg:    8px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --pm-header-mark-color: oklch(81.814% 0.01183 84.538);
  --pm-link-color: oklch(58.8% 0.158 241.966);
  --pm-muted-color: oklch(37.2% 0.044 257.287);

  --pm-spellcheck-tooltip-background: oklch(100% 0 0);
  --pm-spellcheck-tooltip-border: oklch(82% 0.005 264);
  --pm-spellcheck-tooltip-text: oklch(30% 0.02 264);
  --pm-spellcheck-tooltip-error: oklch(55% 0.22 29);
  --pm-spellcheck-tooltip-hover: oklch(96% 0.005 264);
  --pm-spellcheck-tooltip-actions-border: oklch(82% 0.005 264);
  --pm-spellcheck-tooltip-font-size: 0.9rem;
}

:root[data-theme='dark'] {
  --text-editor: 15px;
  --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 10px 15px rgba(0, 0, 0, 0.1);

  --radius-sm:    3px;
  --radius-md:    5px;
  --radius-lg:    8px;

  --pm-header-mark-color: oklch(44.3% 0.11 240.79);
  --pm-link-color: oklch(58.8% 0.158 241.966);
  --pm-muted-color: oklch(55.4% 0.046 257.417);

  --pm-spellcheck-tooltip-background: oklch(25% 0.02 264);
  --pm-spellcheck-tooltip-border: oklch(40% 0.02 264);
  --pm-spellcheck-tooltip-text: oklch(75% 0.02 264);
  --pm-spellcheck-tooltip-error: oklch(65% 0.22 29);
  --pm-spellcheck-tooltip-hover: oklch(35% 0.02 264);
  --pm-spellcheck-tooltip-actions-border: oklch(40% 0.02 264);
}