:root {
  /* Syntax colors */
  --syntax-link: oklch(62.75% 0.188 259.38);
  --syntax-keyword: oklch(58.13% 0.248 297.57);
  --syntax-atom: oklch(51.29% 0.219 260.63);
  --syntax-literal: oklch(57.38% 0.111 170.31);
  --syntax-string: oklch(54.86% 0.184 25.53);
  --syntax-regexp: oklch(65.88% 0.184 43.8);
  --syntax-variable: oklch(45.32% 0.171 260.3);
  --syntax-variable-local: oklch(64.13% 0.09 184.42);
  --syntax-variable-macro: oklch(52.58% 0.212 282.71);
  --syntax-property: oklch(42.1% 0.142 260.08);
  --syntax-type: oklch(49.1% 0.091 165.52);
  --syntax-class: oklch(64.42% 0.11 168.83);
  --syntax-comment: oklch(62.79% 0.022 252.89);
  --syntax-invalid: oklch(64.62% 0.203 29.2);

  /* Code block */
  --codeblock-background: var(--background-primary-alt);
  --codeblock-border: 0px solid var(--border);
  --codeblock-firstline-border: var(--codeblock-border);
  --codeblock-margin: 0 0 0 var(--size-3-2);
  --codeblock-font: var(--font-mono);

  /* Code block toolbar */
  --codeblock-btn-bg: oklch(86.9% 0.022 252.894);
  --codeblock-btn-bg-hover: oklch(70.4% 0.04 256.788);
  --codeblock-btn-color: var(--text-muted);
  --codeblock-btn-radius: var(--radius-md);
  --codeblock-btn-padding: var(--size-1-1);
  --codeblock-lang-font: var(--codeblock-font);
  --codeblock-lang-size: var(--font-size-code)
    /* Blockquote */
    --blockquote-accent: var(--border-subtle);
}

:root[data-theme='light'] {
  --syntax-keyword: oklch(50% 0.22 310);
  --syntax-link: oklch(45% 0.18 240);
  --syntax-string: oklch(48% 0.15 140);
  --syntax-literal: oklch(55% 0.20 50);
  --syntax-regexp: oklch(50% 0.22 30);
  --syntax-variable: oklch(40% 0.10 260);
  --syntax-variable-local: oklch(45% 0.08 200);
  --syntax-variable-macro: oklch(42% 0.22 290);
  --syntax-property: oklch(52% 0.12 250);
  --syntax-type: oklch(45% 0.16 180);
  --syntax-class: oklch(40% 0.18 260);
  --syntax-atom: oklch(65% 0 271);
  --syntax-invalid: oklch(45% 0.25 25);

  --codeblock-background: var(--background-primary-alt);
  --codeblock-btn-bg: transparent;
  --codeblock-btn-bg-hover: hsla(35, 27%, 82%, 0.396);
  --blockquote-accent: var(--border-subtle);
}

:root[data-theme='dark'] {
  --syntax-keyword: oklch(70% 0.16 310);
  --syntax-link: oklch(75% 0.14 220);
  --syntax-string: oklch(80% 0.12 150);
  --syntax-literal: oklch(75% 0.15 45);
  --syntax-regexp: oklch(72% 0.18 20);
  --syntax-variable: oklch(88% 0.06 230);
  --syntax-variable-local: oklch(82% 0.04 200);
  --syntax-variable-macro: oklch(75% 0.18 280);
  --syntax-type: oklch(85% 0.12 190);
  --syntax-class: oklch(82% 0.10 260);
  --syntax-property: oklch(78% 0.08 240);
  --syntax-atom: oklch(85% 0 271);
  --syntax-invalid: oklch(65% 0.22 25);

  --codeblock-background: var(--background-primary-alt);
  --codeblock-btn-bg: transparent;
  --codeblock-btn-bg-hover: --background-modifier-hove;
  --blockquote-accent: var(--border-subtle);
}

// private wiring to prosemark
:root {
  --pm-syntax-link: var(--syntax-link);
  --pm-syntax-keyword: var(--syntax-keyword);
  --pm-syntax-atom: var(--syntax-atom);
  --pm-syntax-literal: var(--syntax-literal);
  --pm-syntax-string: var(--syntax-string);
  --pm-syntax-regexp: var(--syntax-regexp);
  --pm-syntax-definition-variable: var(--syntax-variable);
  --pm-syntax-local-variable: var(--syntax-variable-local);
  --pm-syntax-special-variable-macro: var(--syntax-variable-macro);
  --pm-syntax-definition-property: var(--syntax-property);
  --pm-syntax-type-namespace: var(--syntax-type);
  --pm-syntax-class-name: var(--syntax-class);
  --pm-syntax-comment: var(--syntax-comment);
  --pm-syntax-invalid: var(--syntax-invalid);

  --pm-code-btn-background-color: var(--codeblock-btn-bg);
  --pm-code-btn-hover-background-color: var(--codeblock-btn-bg-hover);
  --pm-blockquote-vertical-line-background-color: var(--blockquote-accent);
}

// bruteforced overrides
.cm-fenced-code-line {
  border-left: var(--codeblock-border);
  border-right: var(--codeblock-border);
  color: var(--syntax-fg);
}

.cm-fenced-code-line-first {
  border: var(--codeblock-firstline-border);
}

.cm-fenced-code-line-last {
  border-left: var(--codeblock-border);
  border-right: var(--codeblock-border);
  border-bottom: var(--codeblock-border);
}