:root {
  --inline-code-font-family: var(--font-mono);
  --inline-code-background: var(--background-primary-alt);
  --inline-code-radius: var(--radius-md)
}

.cm-editor .cm-inline-code {
  font-family: var(--inline-code-font-family);
  background: var(--inline-code-background);
  border-radius: var(--inline-code-radius);
}