:root {
  --separator-color: var(--border-strong);
  --separator-width: var(--border-default-width);
  --separator-margin: 0 0 0 0;
}

.cm-editor .cm-horizontal-rule-container {

  hr {
    border: none;
    height: 1px;
    background-color: var(--separator-color);
  }
}