:root {
  --modal-border-color: var(--border-strong);
  --modal-border-width: var(--border-default-width);
  --modal-background-color: var(--background-primary);
  --modal-radius: var(--radius-xl);
  --modal-padding: var(--size-2-1);
}